<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

	<!-- 		<div th:replace="fragments/header :: header">...</div> -->
	<div class="container">

		</br> </br> </br>
		<div class="row"></div>


		<div class="row">
			<div class="row">
				<a href="/registration" th:href="@{/registration}"> <span
					class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Create
					new user account
				</a>
			</div>

			<div class="row">
				<a href="/login" th:href="@{/login}"> <span
					class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign
					in
				</a>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<th:block layout:replace="fragments/body_scripts :: end"/>
	
</body>
</html>